.idea
.vscode
# Ignorar todos os módulos dentro de src/modules exceto auth e user
/backend/src/modules/amenities
/backend/src/modules/app
/backend/src/modules/appointments
/backend/src/modules/availability
/backend/src/modules/room
/backend/src/modules/room-amenities